body{
  font-family: 'Roboto', sans-serif;
}

body#mainpage{
  margin: 0px;
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('../img/bg.png');
  background-size: cover;
  color: "color: rgba(50,50,50,1)";
}

#mainTitle{
  font-size: 40pt;
  font-weight: 700;
  text-shadow: 2px 2px 	#000000;
}

.title{
  text-align: center;
  color: white;
}

#btnPlay{
  text-align:center;
}

#fileLink{
  /* display: none; */
  visibility: hidden;
  opacity: 0;

}

form{
  margin-top: 30px;
  margin-bottom: 15px;
  text-align:center;
}

#fileLink {
  margin-top: 40px;
  margin-bottom: 40px !important;
}
body#container {
  height: 100vh;
  width: 100%;

}

#mainContent {
  margin-top: 20vh;
  position: relative;
  height: 80vh;
  width: 100%;
}

.game-select{
  color: #f0f0f0;
  font-weight: 300;
}